<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- 부트스트랩은 제이쿼리가 필수이기 때문에 제이쿼리 먼저 호출되어야 하기 때문에 위에 작성 -->

<!-- index.js 추가 -->
<!-- 절대 경로로 시작. 기본적으로 src/main/resources/static부터 시작함 -->
<script src="/js/app/index.js"></script>
</body>
</html>