<!DOCTYPE html>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- 페이지의 로딩 속도를 높이기 위해 css는 header에, js는 footer에 둠. header가 다 실행된 뒤에 body가 실행  -->
    <!-- head가 다 불러지지 않으면 사용자 쪽에서 백지 화면만 노출. js의 용량이 클수록 body부분의 실행이 늦어지기 때문에 js는 하단에 두고 다 그려진 뒤 호출해야 함 -->
</head>
<body>
